<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <h1>The BEST MVC Tech Blog</h1>
    <nav>
        <a href="/">Home</a>
        {{!-- conditionally render login or logout --}}
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a>
        <div id="welcome">Welcome back, {{session.user_name}}!</div>
        <a href="/api/users/logout" class="login-logout" id="logout">Logout</a>
        <script src="/js/logout.js"></script>
        {{else}}
        <a href="/login">Dashboard</a>
        <div id="welcome"></div>
        <a href="/login" class="login-logout" id="login">Login</a>
        {{/if}}
    </nav>
    </header>
    <main>
        {{!-- render the sub layout --}}
        {{{body}}}
    </main>
    <footer>

    </footer>
    
</body>
</html>