{{!-- Loop over each object in the blogposts array --}}
<section id="blogpost-container">
    {{#each blogposts as |blogpost| }}
    <a href="/blogpost/{{blogpost.id}}">
        <button class="blogpost-button">
            <p class="large-font">{{blogpost.title}}</p>
            <p class="small-font">{{blogpost.createdAt}}</p>
        </button>
    </a>
    {{/each}}
</section>