:root {
  --primary: #7e8dd8;
  --secondary: #03301d;
  --tertiary: #2c3b7d;
  --quatrinary: #2b3467;
  --light: #e3e4e3;
  --dark: #4c5d55;
  --rareBad: rgb(217, 236, 107);
  --rareGood: rgb(166, 248, 166);
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--dark);
  justify-content: space-between;
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-align: center;
}

nav a:hover {
  background-color: var(--secondary);
}

.login-logout {
  margin-left: auto;
}

nav #logout:hover {
  background-color: var(--rareBad);
}

nav #login:hover {
  color: var(--secondary);
  background-color: var(--rareGood);
}

#blogpost-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.blogpost-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  background-color: var(--quatrinary);
  color: azure;
  border: none;
  margin: 0 0 10px 0;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.blogpost-button p:nth-child(1) {
  flex-basis: 10%;
  text-align: center;
}

.blogpost-button p:nth-child(2) {
  flex-basis: 70%;
}

.blogpost-button p:nth-child(3) {
  flex-basis: 20%;
}

.blogpost-button:hover {
  color: var(--secondary);
  background-color: var(--light);
}

.blogpost-display {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--dark);
  color: azure;
  border: none;
  margin: 0 0 10px 0;
  text-align: left;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.blogpost-content {
  padding: 10px 10px 20px 10px;
}


.comment-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: azure;
  color: var(--quatrinary);
  border: 2px solid black;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
}

.comment-content {
  padding: 10px;
  border-top: 2px dashed black;
  color: black;
}

.comment-author {
  padding: 0 20px;
  font-style: italic;
  text-align: right;
}

.comment-date {
  padding: 0 20px 10px 20px;
  font-style: italic;
  text-align: right;
}

.small-font {
  font-size: 14px;
  margin-bottom: 5px;
}

.large-font {
  font-size: 18px;
  margin-bottom: 5px;
  white-space: pre;
}

.add-button-row-container {
  padding: 0 0 0 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.save-button-row-container {
  padding: 0 0 0 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.save-button-row-container button:nth-child(1) {
  width: 160px;
  margin: 10px;
  text-align: center;
}

.save-button-row-container button:nth-child(2) {
  width: 160px;
  margin: 10px;
  text-align: center;
}

.add-comment-button {
  font-size: 14px;
  width: 160px;
  padding: 10px;
  background-color: var(--light);
  color: var(--dark);
  border: solid 1px black;
  margin: 0 0 10px 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-comment-button:hover {
  border: solid 1px var(--light);
  color: var(--light);
  background-color: var(--secondary);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

.comment-entry {
  background-color: azure;
  color: var(--quatrinary);
  border: 2px solid black;
  border-radius: 3px;
  width: 100%;
  height: 140px;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

.form {
  padding: 10px 20px;
  color: var(--light);
}

.form-input {
  width: 50%;
  padding: 5px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 30px;
}

.login-form button, .signup-form button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}
